<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string>section_about</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>1.1</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Darcy</string>
			<key>Align</key>
			<string>Left</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Key</key>
			<string>copyright</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSHTMLSpecifier</string>
			<key>Title</key>
			<string>HTML</string>
			<key>Key</key>
			<string>html</string>
			<key>File</key>
			<string>about</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSViewSpecifier</string>
			<key>Key</key>
			<string>custom_view</string>
			<key>Title</key>
			<string>Custom View</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>About</string>
</dict>
</plist>
